PORT=8080
NODE_ENV=development
MONGO_URL=mongodb://anibalallendesaravena_db_user:Minapa0102@ac-2nt2uuo-shard-00-00.haod7ga.mongodb.net:27017,ac-2nt2uuo-shard-00-01.haod7ga.mongodb.net:27017,ac-2nt2uuo-shard-00-02.haod7ga.mongodb.net:27017/eventos?ssl=true&replicaSet=atlas-h5dgr8-shard-0&authSource=admin&appName=Cluster0
JWT_SECRET=CoderhouseBackend2026
JWT_EXPIRES_IN=1h