PORT=8080
NODE_ENV=development
MONGO_URL=TU_URI_REAL_DE_MONGODB_ATLAS
JWT_SECRET=TU_CLAVE_SECRETA
JWT_EXPIRES_IN=1h

MAIL_HOST=TU_SERVIDOR_SMTP
MAIL_PORT=587
MAIL_USER=TU_CORREO
MAIL_PASS=TU_CLAVE_O_CONTRASENA_SMTP
MAIL_FROM=TU_CORREO